.App {
  text-align: center;
  top: 0px;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.form-group .password {
  margin-top: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-group {
  margin-bottom: 0px;
}

span {
  padding-right: 20px;
}

.logoStyling {
  margin-top: 120px;
}

.login-container .number {
    margin-bottom: 0;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

form {
  display: block;
}

.login-container .form-control{
    padding: 30px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#number1 {
    border-radius: 0 8px 0 0;
}

#number2 {
    border-radius: 0 0 8px 0;
}

#logo1 {
  border-radius: 8px 0 0;
}

#logo3 {
  border-radius: 0 0 0 8px; 
}

img {
    vertical-align: middle;
    border-style: none;
}

.input-group-append, .input-group-prepend {
    display: flex;
}

.input-group-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.row {
  margin-top: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-signin {
    background: #ff5043;
    border: 0;
    color: #fff;
    border-radius: 10px;
    padding: 20px 50px;
    font-weight: 600;
    margin-top: 25px;
}

.form-group .number {
  background-color: white;
}

.input-group {
  background-color: white;
  width: 100%;
  height: 200%;
}

.form-group .password {
  margin-top: 0px;
  background-color: white;
}

.login-container .input-group-text{
    background: 0 0;
}

.App-link {
  color: #61dafb;
}

.signinlabel {
  font-size: 20px;
  margin-top: 10px;
}

.formgroup {
  margin-top: 50px;
}

/*.form-container1 {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 40%;
  margin: 0 auto;
}

#phoneimage {
  height: 61px;
  vertical-align: middle;
  float: left;
  width: 10%;
  border-right: 1px solid grey;
  padding: 10px;
  display: inline-block;
}

#mobileNumber {
  height: 61px;
  float: right;
  width: 85%;
  border-left: 0.5px solid grey;
  border-top: 0px;
  border-right: 0px;
  font-size: 20px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  display: inline-block;
  border: 0px;
}

input:focus, textarea {
    outline: none !important;
    resize: none;
}

.formpassword {
  border: 10px solid black;
  border-radius: 10px;
  background-color: blue;
  width: 40%;
  margin: 0 auto;
  display: block;
}

#passwordimage {
  height: 61px;
  float: left;
  width: 10%;
  padding-left: 0px;
  padding: 0px;
  display: inline-block;
}

#password {
  float: right;
  width: 85%;
  display: inline-block;
}
*/

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}

body {
    font-family: Raleway,sans-serif;
    font-size: 20px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
  font-size: 25px;
  font-weight: 450%;
}

form {
  margin-top: 80px;
}
header{
  background: url("./assets/images/header-runner.jpg");
  height:85px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
